//dark theme
$darkbackground: #292929;
$darkmain: #3B3B3B;
$darktext: #FFFFFF;
$darkaccent: #41BA80;
$darkplaceholder: #D9D0A4;
$darkinput: #688A7E;
$darkhover: #41BA80;

//light theme
$lightbackground: #FFFFFF;
$lightmain: #E5F4EB;
$lighttext: #272727;
$lightaccent: #41BA80;
$lightplaceholder: #5EA36D;
$lightinput: #FFFFFF;