//dark theme
$darkbackground: #292929;
$darkmain: #3b3b3b;
$darktext: #ffffff;
$darkaccent: #00904b;
$darkcolorbackground: #005f31;
$darkplaceholder: #d9d0a4;
$darkinput: #666666;
$darkhover: #61616186;

//light theme
$lightbackground: #ffffff;
$lightmain: #e5f4eb;
$lighttext: #272727;
$lightaccent: #41ba80;
$lightplaceholder: #5ea36d;
$lightinput: #ffffff;
