//dark theme
$darkbackground: #26292f;
$darkmain: #363a41;
$darktext: #ffffff;
$darkaccent: #00904b;
$darkcolorbackground: #005f31;
$darkplaceholder: #d9d0a4;
$darkinput: #4f5662;
$darkhover: #00904b;

//light theme
$lightbackground: #ffffff;
$lightmain: #e5f4eb;
$lighttext: #272727;
$lightaccent: #41ba80;
$lightplaceholder: #5ea36d;
$lightinput: #ffffff;

//actual
$background: $darkbackground;
$main: $darkmain;
$text: $darktext;
$accent: $darkaccent;
$colorbackground: $darkcolorbackground;
$placeholder: $darkplaceholder;
$input: $darkinput;
$hover: $darkhover;


:export {
    darkbackground: $darkbackground;
    darkmain: $darkmain;
    darktext: $darktext;
    darkinput: $darkinput;
    darkaccent: $darkaccent;
}