@import '../colors/colors';
@import '../text/fonts.scss';

button {
    all: unset;
    background-color: $darkaccent;
    border-radius: 0.5em;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    color: $darktext;
    font-family: $defaultfont;
    font-size: $small-size;
    font-weight: $medium;
    transition: 0.3s;
  }
  
  button:hover {
    transform: scale(1.2);
  }

  .social-media {
    margin-left: 1em;
    margin-right: 1em;
  }