@import '../colors/colors';

.entity-screen {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 0 2.5% 0;
}

.entity-screen-cover-photo {
    width: 100%;
    position: relative;
}

.entity-screen-description {
    position: absolute;
}