@import "../colors/colors";
@import "../text/fonts.scss";

.formulate-input {
  // global wrapper styles
  all: unset;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-family: $defaultfont;
  margin-top: 1em;
  justify-content: center;
  align-items: center;

  .formulate-input-label {
    // global label styles
    font-weight: $medium;
    font-size: $medium-size;
    color: $darktext;
  }

  .formulate-input-element {
    // Global field-level wrapper styles
  }

  .formulate-input-help {
    // Global help text styles
  }

  .formulate-input-errors {
    // Global error message list wrapper
    list-style: none;
    font-size: $small-size;
    font-weight: $medium;
    color: $darktext;
  }

  .formulate-input-error,
  .formulate-file-upload-error {
    // Error message styles
  }

  .formulate-input-group-item {
    // Group of items (like list of checkboxes) wrapper
  }

  // Text inputs
  // -----------------------------------------------------------------------------

  &[data-classification="text"] {
    input {
      // Style all text-like input elements
      all: unset;
      color: $darktext;
      background-color: $darkinput;
      height: 2em;
      width: 60vw;
      font-size: $medium-size;
      font-weight: $light;
      border-radius: 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  // Slider inputs
  // -----------------------------------------------------------------------------

  &[data-classification="slider"] {
    input {
      // Style range inputs
    }
  }

  // Textarea inputs
  // -----------------------------------------------------------------------------

  &[data-classification="textarea"] {
    textarea {
      // Style textareas
      all: unset;
      color: $darktext;
      background-color: $darkinput;
      height: 20em;
      width: 60vw;
      font-size: $small-size;
      font-weight: $medium;
      border-radius: 0.5em;
      padding-top: 0.5em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }
  }

  // Button inputs
  // -----------------------------------------------------------------------------

  &[data-classification="button"] {
    button {
      // Style button inputs
      padding: 1em;
      margin-bottom: 2em;
    }
  }

  // Select lists
  // -----------------------------------------------------------------------------

  &[data-classification="select"] {
    select {
      // Style select lists
    }
  }

  // Box inputs
  // -----------------------------------------------------------------------------

  &[data-classification="box"] {
    .formulate-input-element {
      // Box input (checkbox and radio) wrapper (might want flex here)
      input {
        // Style box element itself
      }
    }
  }

  // File inputs
  // -----------------------------------------------------------------------------

  &[data-classification="file"] {
    .formulate-input-upload-area {
      display: none;
    }
  }

  // Image uploads
  // -----------------------------------------------------------------------------

  [data-type="image"] {
    // image uploads
  }
}

// Form-level errors
// -----------------------------------------------------------------------------

.formulate-form-errors {
  .formulate-form-error {
    // form errors (not specific to a field)
  }
}

.form-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.form-row {
  justify-content: center;
  align-items: center;
  display: flex;
}

#send-message {
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-button-hider {
  all: unset;
  background:$darkinput;
  position:relative;
  border-radius: 0.5em;
  text-align:center;
  float:left;
  font-family: $defaultfont;
  font-size: $small-size;
  font-weight: $bold;
  color: $darktext;
  padding: 0.5em 0.8em;
  transition: all 0.3s;
}

.form-button-hider:hover {
  background-color: $darkhover;
}