@import '../colors/colors';
@import "../text/fonts.scss";

p {
    font-family: $defaultfont;
    font-size: $small-size;
    font-weight: $light;
    color: $darktext;
}

b {
    font-weight: $bold;
}

h1 {
    all: unset;
    font-family: $defaultfont;
    font-size: $title-size;
    font-weight: $medium;
    color: $darktext;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: absolute;
}

h5 {
    all: unset;
    font-family: $defaultfont;
    font-size: $small-size;
    font-weight: $medium;
    color: $darktext;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h3 {
    font-family: $defaultfont;
    font-size: $medium-size;
    font-weight: $medium;
    color: $darktext;
}

h4 {
    font-family: $defaultfont;
    font-size: $small-size;
    font-weight: $light;
    color: $darktext;
}

h2 {
    font-family: $defaultfont;
    font-size: $large-size;
    font-weight: $bold;
    color: $darktext;
}

.imgtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-image-h5 {
    position: absolute;
    transform: translateY(3em);
}

.section-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
    overflow: hidden;
}

.textbox {
    width: 50%;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}