@import "./style-components/title.scss";
@import "./style-components/subtitle.scss";
@import "./style-components/text.scss";
@import "./style-components/pageBody.scss";
@import "./style-components/mainImage.scss";
@import "./style-components/member.scss";

.member-component {
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.fyc-member-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fyc-public-documents-body {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.join-fyc-body {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
