@import "./style-components/text.scss";
@import "./style-components/subtitle.scss";
@import "./style-components/mainImage.scss";
@import "./style-components/title.scss";
@import "./style-components/pageBody.scss";

.photos {
  user-select: none;
}

.photo-album-wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
}

.photo-album-list {
  display: flex;
  flex-direction: column;
}

.album-header-bar {
  align-items: center;
  text-align: center;
  padding: 1.5vh;
  padding-left: 1.5vh;
  background-color: $darkmain;
  display: flex;
  flex-direction: row;
}

.album-info {
  width: 33.3%;
}

.left-album-header-info {
  text-align: left;
}

.right-album-header-info {
  text-align: right;
}

.photo-album-scroll {
  margin: 3vh;
}

.image-display-container-margin {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1vw;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: block;
    height: 2vh;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkinput;

    &:hover {
      background: $darkaccent;
    }
  }
}

.image-display-container {
  margin: 1vw;
}

.album-displayed-photo {
  height: 40vh;
  width: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
