.grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 33.3333%);
    grid-auto-rows: minmax(3em, auto);
    list-style: none;
    width: 100%;
}

.grid-element {
    background-color: #1a1d24;
    margin-bottom: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 80%;
}

.grid-panel {
    padding: 0.5em;
}

.grid-element-name {
}

.grid-element-pic {
}

.grid-subelement {

}

.grid-subpanel {
    background-color: #15181e;
    margin: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
}

.grid-subelement-name {
}

.deleteButton:hover {
    background-color: tomato;
}